* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: aquamarine;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.freespaceforheader {
    margin: 120px 0 20px 0;
}

#footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.freespaceforfooter {
    margin-bottom: 250px;
}


.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 160px;
}

.nextButtonDiv {
    position: fixed;
    right: 10px;
    top: 160px;
}


.league {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
    min-height: 100vh;
}


.welcome {
    color: white;
    text-align: center;
    padding: 50px;
}


.onefilter {
    margin: 2px 0;
    display: flex;
}

.filtername {
    width: 10em;
    padding: 0.2em;
    text-align: right;
}

.verticalmargin {
    margin: 8px 0;
}

.generalinfo {
    font-size: 12px;
    background-color: lightgoldenrodyellow;
    padding: 1px 5px;
}


